In [ ]:
from requests import get
from bs4 import BeautifulSoup
from warnings import warn
from time import sleep
from random import randint
import numpy as np, pandas as pd
import seaborn as sns
import requests
import re
import time

In [ ]:
pages = np.arange(1, 9951, 50) 
headers = {'Accept-Language': 'en-US,en;q=0.8'} # If this is not specified, the default language is Mandarin

#initialize empty lists to store the variables scraped
titles = []
years = []
ratings = []
genres = []
runtimes = []
imdb_ratings = []
imdb_ratings_standardized = []
metascores = []
votes = []

for page in pages:
  
   #get request for sci-fi
   response = get("https://www.imdb.com/search/title?genres=sci-fi&"
                  + "start="
                  + str(page)
                  + "&explore=title_type,genres&ref_=adv_prv", headers=headers)
  
   sleep(randint(8,15))
   
   #throw warning for status codes that are not 200
   if response.status_code != 200:
       warn('Request: {}; Status code: {}'.format(requests, response.status_code))

   #parse the content of current iteration of request
   page_html = BeautifulSoup(response.text, 'html.parser')
      
   movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
  
   #extract the 50 movies for that page
   for container in movie_containers:

       #conditional for all with metascore
       if container.find('div', class_ = 'ratings-metascore') is not None:

           #title
           title = container.h3.a.text
           titles.append(title)

           if container.h3.find('span', class_= 'lister-item-year text-muted unbold') is not None:
            
             #year released
             year = container.h3.find('span', class_= 'lister-item-year text-muted unbold').text # remove the parentheses around the year and make it an integer
             years.append(year)

           else:
             years.append(None) # each of the additional if clauses are to handle type None data, replacing it with an empty string so the arrays are of the same length at the end of the scraping

           if container.p.find('span', class_ = 'certificate') is not None:
            
             #rating
             rating = container.p.find('span', class_= 'certificate').text
             ratings.append(rating)

           else:
             ratings.append("")

           if container.p.find('span', class_ = 'genre') is not None:
            
             #genre
             genre = container.p.find('span', class_ = 'genre').text.replace("\n", "").rstrip().split(',') # remove the whitespace character, strip, and split to create an array of genres
             genres.append(genre)
          
           else:
             genres.append("")

           if container.p.find('span', class_ = 'runtime') is not None:

             #runtime
             time = int(container.p.find('span', class_ = 'runtime').text.replace(" min", "")) # remove the minute word from the runtime and make it an integer
             runtimes.append(time)

           else:
             runtimes.append(None)

           if float(container.strong.text) is not None:

             #IMDB ratings
             imdb = float(container.strong.text) # non-standardized variable
             imdb_ratings.append(imdb)

           else:
             imdb_ratings.append(None)

           if container.find('span', class_ = 'metascore').text is not None:

             #Metascore
             m_score = int(container.find('span', class_ = 'metascore').text) # make it an integer
             metascores.append(m_score)

           else:
             metascores.append(None)

           if container.find('span', attrs = {'name':'nv'})['data-value'] is not None:

             #Number of votes
             vote = int(container.find('span', attrs = {'name':'nv'})['data-value'])
             votes.append(vote)

           else:
               votes.append(None)

       else:
          votes.append(None)

In [ ]:
sci_fi_df = pd.DataFrame({'movie': titles,
                      'year': years,
                      'rating': ratings,
                      'genre': genres,
                      'runtime_min': runtimes,
                      'imdb': imdb_ratings,
                      'metascore': metascores,})
                      #'votes': votes}
                      

sci_fi_df.loc[:, 'year'] = sci_fi_df['year'].str[-5:-1] # two more data transformations after scraping
sci_fi_df['n_imdb'] = sci_fi_df['imdb'] * 10
final_df = sci_fi_df.loc[sci_fi_df['year'] != 'ovie']
final_df.loc[:, 'year'] = pd.to_numeric(final_df['year'])

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
sci_fi_df

,movie,year,rating,genre,runtime_min,imdb,metascore,n_imdb
0,Ant-Man and the Wasp: Quantumania,2023,PG-13,"[Action, Adventure, Comedy]",124,6.5,48,65.0
1,Black Panther: Wakanda Forever,2022,PG-13,"[Action, Adventure, Drama]",161,6.8,67,68.0
2,Infinity Pool,2023,R,"[Crime, Horror, Mystery]",117,6.1,72,61.0
3,Avatar: The Way of Water,2022,PG-13,"[Action, Adventure, Fantasy]",192,7.8,67,78.0
4,Everything Everywhere All at Once,2022,R,"[Action, Adventure, Comedy]",139,8.0,81,80.0
...,...,...,...,...,...,...,...,...
1349,King Car,2021,,"[Fantasy, Sci-Fi]",99,5.5,71,55.0
1350,Closer to God,2014,,"[Horror, Sci-Fi, Thriller]",81,4.6,54,46.0
1351,Uncle Kent 2,2015,Unrated,"[Comedy, Sci-Fi]",73,5.3,54,53.0
1352,4,2004,Not Rated,"[Drama, Mystery, Sci-Fi]",126,6.5,72,65.0
1353,2009: Lost Memories,2002,R,"[Action, Drama, Sci-Fi]",136,6.1,40,61.0

In [ ]:
# Downloading imdb top 250 movie's data
#url = 'http://www.imdb.com/chart/top'
url = 'https://www.imdb.com/chart/toptv?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&pf_rd_r=H97E3KDAPESFSG3M1N8P&pf_rd_s=right-4&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_ql_6'
#url = 'https://www.imdb.com/search/title/?groups=top_250'
headers = {'Accept-Language': 'en-US,en;q=0.8'}
#response = requests.get(url,headers = hearders)
response = get(url,headers = headers)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
 
 
 
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            "star_cast": crew[index],
            }
    list.append(data)
 
# printing movie details with its rating.
for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
        ') -', 'Starring:', movie['star_cast'], movie['rating'])
 
 
##.......##
df = pd.DataFrame(list)
#df.to_csv('imdb_top_250_movies.csv',index=False)
df.to_csv('imdb_top_250_TVShows.csv',index=False)

1 - Planet Earth II (2016) - Starring: David Attenborough, Chadden Hunter 9.434127866969837
2 - Breaking Bad (2008) - Starring: Bryan Cranston, Aaron Paul 9.428984443133594
3 - Planet Earth (2006) - Starring: Sigourney Weaver, David Attenborough 9.413462331901338
4 - Band of Brothers (2001) - Starring: Scott Grimes, Damian Lewis 9.389331491667111
5 - Chernobyl (2019) - Starring: Jessie Buckley, Jared Harris 9.315570339347165
6 - The Wire (2002) - Starring: Dominic West, Lance Reddick 9.288949208580387
7 - Avatar: The Last Airbender (2005) - Starring: Dee Bradley Baker, Zach Tyler Eisen 9.231121072154993
8 - Blue Planet II (2017) - Starring: David Attenborough, Peter Drost 9.230447562838199
9 - The Sopranos (1999) - Starring: James Gandolfini, Lorraine Bracco 9.201739000451113
1 -  Cosmos: A Spacetime Odyssey (2014) - Starring: Neil deGrasse Tyson, Christopher Emerson 9.20167183359827
11 - Cosmos (1980) - Starring: Carl Sagan, Jaromír Hanzlík 9.187163757714634
12 - Our Planet (2019) - Starring: David Attenborough 9.185416204168078
13 - Game of Thrones (2011) - Starring: Emilia Clarke, Peter Dinklage 9.142551534967884
14 - The World at War (1973) - Starring: Laurence Olivier, Averell Harriman 9.09601940125289
15 - Rick and Morty (2013) - Starring: Justin Roiland, Chris Parnell 9.088451053793044
16 - Fullmetal Alchemist: Brotherhood (2009) - Starring: Kent Williams, Iemasa Kayumi 9.048801901331643
17 - The Last Dance (2020) - Starring: Michael Jordan, Phil Jackson 9.03846291900598
18 - The Last of Us (2023) - Starring: Pedro Pascal, Bella Ramsey 9.036377849840708
19 - Life (2009) - Starring: Oprah Winfrey, David Attenborough 9.034817479788385
20 - The Twilight Zone (1959) - Starring: Rod Serling, Robert McCord 9.01396756112342
21 - Sherlock (2010) - Starring: Benedict Cumberbatch, Martin Freeman 9.013780211667106
22 - The Vietnam War (2017) - Starring: Peter Coyote, Huy Duc 9.000207729245654
23 - Bluey (2018) - Starring: David McCormack, Melanie Zanetti 8.991508418980688
24 - Batman: The Animated Series (1992) - Starring: Kevin Conroy, Loren Lester 8.971534133286557
25 - Scam 1992: The Harshad Mehta Story (2020) - Starring: Pratik Gandhi, Shreya Dhanwanthary 8.946996978473871
26 - Arcane (2021) - Starring: Hailee Steinfeld, Kevin Alejandro 8.933380975595638
27 - Attack on Titan (2013) - Starring: Josh Grelle, Bryce Papenbrook 8.930038779020741
28 - The Blue Planet (2001) - Starring: David Attenborough, Pierce Brosnan 8.929585998339256
29 - The Office (2005) - Starring: Steve Carell, Jenna Fischer 8.927077372949404
30 - Firefly (2002) - Starring: Nathan Fillion, Gina Torres 8.91151691556188
31 - Human Planet (2011) - Starring: John Hurt, Roger Munns 8.910544997352671
32 - Frozen Planet (2011) - Starring: David Attenborough, Alec Baldwin 8.898666620796257
33 - Death Note (2006) - Starring: Mamoru Miyano, Brad Swaile 8.893112104170017
34 - Better Call Saul (2015) - Starring: Bob Odenkirk, Rhea Seehorn 8.887704744432428
35 - Only Fools and Horses (1981) - Starring: David Jason, Nicholas Lyndhurst 8.886799155537515
36 - The Civil War (1990) - Starring: David McCullough, Julie Harris 8.884970461348708
37 - Clarkson's Farm (2021) - Starring: Jeremy Clarkson, Kaleb Cooper 8.880808596285746
38 - True Detective (2014) - Starring: Vince Vaughn, Colin Farrell 8.880153703622963
39 - Hunter x Hunter (2011) - Starring: Issei Futamata, Megumi Han 8.879209095369877
40 - Seinfeld (1989) - Starring: Jerry Seinfeld, Julia Louis-Dreyfus 8.870325630615921
41 - Persona (2018) - Starring: Haluk Bilginer, Cansu Dere 8.863998554860391
42 - Dekalog (1989) - Starring: Artur Barcis, Olgierd Lukaszewicz 8.862286945751487
43 - The Beatles: Get Back (2021) - Starring: The Beatles, John Lennon 8.862021325487921
44 - Fargo (2014) - Starring: Billy Bob Thornton, Martin Freeman 8.855136970235797
45 - Cowboy Bebop (1998) - Starring: Kôichi Yamadera, Unshô Ishizuka 8.852598783208338
46 - Nathan for You (2013) - Starring: Nathan Fielder, Anthony Filosa 8.838925923722089
47 - Gravity Falls (2012) - Starring: Jason Ritter, Alex Hirsch 8.829602463297924
48 - When They See Us (2019) - Starring: Asante Blackk, Caleel Harris 8.816003433694968
49 - Last Week Tonight with John Oliver (2014) - Starring: John Oliver, David Kaye 8.812815279596494
50 - Friends (1994) - Starring: Jennifer Aniston, Courteney Cox 8.811274861421122
51 - Africa (2013) - Starring: David Attenborough, Simon Blakeney 8.802240088116546
52 - TVF Pitchers (2015) - Starring: Naveen Kasturia, Arunabh Kumar 8.800775553632803
53 - Apocalypse: The Second World War (2009) - Starring: Mathieu Kassovitz, Martin Sheen 8.799424106920249
54 - Monty Python's Flying Circus (1969) - Starring: Graham Chapman, John Cleese 8.792271611281699
55 - It's Always Sunny in Philadelphia (2005) - Starring: Charlie Day, Rob McElhenney 8.791815291811986
56 - Taskmaster (2015) - Starring: Greg Davies, Alex Horne 8.786413091218694
57 - Das Boot (1985) - Starring: Jürgen Prochnow, Herbert Grönemeyer 8.773417430275384
58 - The West Wing (1999) - Starring: Martin Sheen, Rob Lowe 8.766220253760622
59 - Curb Your Enthusiasm (2000) - Starring: Larry David, Cheryl Hines 8.764868722474283
60 - As If (2021) - Starring: Feyyaz Yigit, Kivanç Kilinç 8.760628241611016
61 - Leyla and Mecnun (2011) - Starring: Serkan Keskin, Ahmet Mümtaz Taylan 8.755612998005608
62 - Fawlty Towers (1975) - Starring: John Cleese, Prunella Scales 8.755252103603814
63 - Pride and Prejudice (1995) - Starring: Colin Firth, Jennifer Ehle 8.75213531512303
64 - Freaks and Geeks (1999) - Starring: Linda Cardellini, John Francis Daley 8.749691537635737
65 - Blackadder Goes Forth (1989) - Starring: Rowan Atkinson, Tony Robinson 8.740385154265539
66 - Twin Peaks (1990) - Starring: Kyle MacLachlan, Michael Ontkean 8.740198900477674
67 - BoJack Horseman (2014) - Starring: Will Arnett, Amy Sedaris 8.737944529561393
68 - Black Mirror (2011) - Starring: Daniel Lapaine, Hannah John-Kamen 8.73617770314589
69 - Narcos (2015) - Starring: Pedro Pascal, Wagner Moura 8.731954250955633
70 - Succession (2018) - Starring: Nicholas Braun, Brian Cox 8.73178688709485
71 - Dragon Ball Z (1989) - Starring: Doc Harris, Christopher Sabat 8.725212457257447
72 - Chappelle's Show (2003) - Starring: Dave Chappelle, Donnell Rawlings 8.723033625836546
73 - One Piece (1999) - Starring: Mayumi Tanaka, Laurent Vernin 8.71918882445505
74 - Dragon Ball Z (1989) - Starring: Jôji Yanami, Kyle Hebert 8.716819985833075
75 - I, Claudius (1976) - Starring: Derek Jacobi, John Hurt 8.706064466315796
76 - South Park (1997) - Starring: Trey Parker, Matt Stone 8.698580979618141
77 - Over the Garden Wall (2014) - Starring: Elijah Wood, Collin Dean 8.693783498457314
78 - Rome (2005) - Starring: Kevin McKidd, Ray Stevenson 8.693017502775778
79 - Ted Lasso (2020) - Starring: Jason Sudeikis, Brett Goldstein 8.692308872535785
80 - Six Feet Under (2001) - Starring: Peter Krause, Michael C. Hall 8.69218419608217
81 - Peaky Blinders (2013) - Starring: Cillian Murphy, Paul Anderson 8.691101522721935
82 - Kota Factory (2019) - Starring: Mayur More, Jitendra Kumar 8.689360144967017
83 - Oz (1997) - Starring: Ernie Hudson, J.K. Simmons 8.688580812787007
84 - Dark (2017) - Starring: Louis Hofmann, Karoline Eichhorn 8.675484813937627
85 - Steins;Gate (2011) - Starring: Mamoru Miyano, Asami Imai 8.672291565428303
86 - The Mandalorian (2019) - Starring: Pedro Pascal, Carl Weathers 8.67004414087446
87 - The Boys (2019) - Starring: Karl Urban, Jack Quaid 8.662476294708949
88 - Arrested Development (2003) - Starring: Jason Bateman, Michael Cera 8.662085671212221
89 - Fleabag (2016) - Starring: Phoebe Waller-Bridge, Sian Clifford 8.655746698397058
90 - The Simpsons (1989) - Starring: Dan Castellaneta, Nancy Cartwright 8.654205900444165
91 - One Punch Man (2015) - Starring: Makoto Furukawa, Kaito Ishikawa 8.653841558369882
92 - The Shield (2002) - Starring: Michael Chiklis, Walton Goggins 8.650475112443374
93 - Battlestar Galactica (2004) - Starring: Edward James Olmos, Mary McDonnell 8.648719729138627
94 - House (2004) - Starring: Hugh Laurie, Omar Epps 8.648111690209886
95 - Gullak (2019) - Starring: Jameel Khan, Geetanjali Kulkarni 8.646420022209627
96 - Downton Abbey (2010) - Starring: Hugh Bonneville, Phyllis Logan 8.645119675091541
97 - Panchayat (2020) - Starring: Jitendra Kumar, Raghuvir Yadav 8.640686164079426
98 - Stranger Things (2016) - Starring: Millie Bobby Brown, Finn Wolfhard 8.639098831604368
99 - Invincible (2021) - Starring: Steven Yeun, J.K. Simmons 8.636775779065115
10 -  Severance (2022) - Starring: Adam Scott, Zach Cherry 8.6348715663133
101 - Vinland Saga (2019) - Starring: Yûto Uemura, Mike Haimoto 8.634605858836634
102 - Mad Men (2007) - Starring: Jon Hamm, Elisabeth Moss 8.631362147330668
103 - Peep Show (2003) - Starring: David Mitchell, Robert Webb 8.626233082020283
104 - Sarabhai V/S Sarabhai (2004) - Starring: Satish Shah, Ratna Pathak Shah 8.623189241056846
105 - Star Trek: The Next Generation (1987) - Starring: Patrick Stewart, Brent Spiner 8.622675077173259
106 - The Marvelous Mrs Maisel (2017) - Starring: Rachel Brosnahan, Alex Borstein 8.61913448441858
107 - The Adventures of Sherlock Holmes (1984) - Starring: Jeremy Brett, David Burke 8.618610990807278
108 - Friday Night Lights (2006) - Starring: Kyle Chandler, Connie Britton 8.614828844548004
109 - House of Cards (2013) - Starring: Kevin Spacey, Michel Gill 8.61335199220262
110 - Berserk (1997) - Starring: Marc Diraison, Nobutoshi Canna 8.613226136618092
111 - The Grand Tour (2016) - Starring: Jeremy Clarkson, James May 8.612211400360327
112 - Top Gear (2002) - Starring: Jeremy Clarkson, Richard Hammond 8.609552625960404
113 - 1883 (2021) - Starring: Sam Elliott, Tim McGraw 8.606694238466508
114 - The Thick of It (2005) - Starring: Chris Addison, James Smith 8.603686102240715
115 - Justice League Unlimited (2004) - Starring: George Newbern, Kevin Conroy 8.602432681405249
116 - The Crown (2016) - Starring: Claire Foy, Olivia Colman 8.602130479599909
117 - Line of Duty (2012) - Starring: Martin Compston, Vicky McClure 8.602006983922953
118 - Aspirants (2021) - Starring: Naveen Kasturia, Shivankit Singh Parihar 8.594346735974806
119 - Father Ted (1995) - Starring: Dermot Morgan, Ardal O'Hanlon 8.591608734459413
120 - Deadwood (2004) - Starring: Timothy Olyphant, Ian McShane 8.590955443074336
121 - Mahabharat (1988) - Starring: Harish Bhimani, Nitish Bharadwaj 8.590552967779121
122 - Behzat Ç: Bir Ankara Polisiyesi (2010) - Starring: Erdal Besikçioglu, Inanç Konukçu 8.590550603196034
123 - Parks and Recreation (2009) - Starring: Amy Poehler, Jim O'Heir 8.589711437267502
124 - This Is Us (2016) - Starring: Milo Ventimiglia, Mandy Moore 8.58935169568193
125 - The X-Files (1993) - Starring: David Duchovny, Gillian Anderson 8.589033467979442
126 - Dexter (2006) - Starring: Michael C. Hall, Jennifer Carpenter 8.588710552498764
127 - Atlanta (2016) - Starring: Donald Glover, Brian Tyree Henry 8.584661946345738
128 - The Jinx: The Life and Deaths of Robert Durst (2015) - Starring: Andrew Jarecki, Robert Durst 8.58300859336462
129 - Naruto: Shippuden (2007) - Starring: Alexandre Crepet, Junko Takeuchi 8.580094517876125
130 - Code Geass (2006) - Starring: Jun Fukuyama, Takahiro Sakurai 8.574443382879663
131 - Primal (2019) - Starring: Aaron LaPlante, Laëtitia Eïdo 8.573772589773242
132 - Blackadder II (1986) - Starring: Rowan Atkinson, Tony Robinson 8.572508242454344
133 - The Bridge (2011) - Starring: Sofia Helin, Rafael Pettersson 8.571763021403077
134 - Daredevil (2015) - Starring: Charlie Cox, Vincent D'Onofrio 8.568388781467116
135 - It's a Sin (2021) - Starring: Olly Alexander, Nathaniel Curtis 8.566624471757146
136 - Critical Role (2015) - Starring: Matthew Mercer, Liam O'Brien 8.562076080230304
137 - Monster (2004) - Starring: Hidenobu Kiuchi, Liam O'Brien 8.558211979088933
138 - Archer (2009) - Starring: H. Jon Benjamin, Judy Greer 8.556222385112248
139 - Lonesome Dove (1989) - Starring: Robert Duvall, Tommy Lee Jones 8.55579055675346
140 - Demon Slayer: Kimetsu no Yaiba (2019) - Starring: Natsuki Hanae, Zach Aguilar 8.555291905459901
141 - Adventure Time (2010) - Starring: John DiMaggio, Jeremy Shada 8.554670199998705
142 - Ramayan (1987) - Starring: Arun Govil, Deepika Chikhalia 8.552803612406061
143 - Mystery Science Theater 3000 (1988) - Starring: Joel Hodgson, Michael J. Nelson 8.551831129884167
144 - The Return of Sherlock Holmes (1986) - Starring: Jeremy Brett, Edward Hardwicke 8.551347795908075
145 - Gomorrah (2014) - Starring: Salvatore Esposito, Marco D'Amore 8.550691872391646
146 - Mindhunter (2017) - Starring: Jonathan Groff, Holt McCallany 8.550073287068441
147 - Yellowstone (2018) - Starring: Kevin Costner, Luke Grimes 8.550023879400603
148 - Yeh Meri Family (2018) - Starring: Vishesh Bansal, Mona Singh 8.550018960191677
149 - Young Justice (2010) - Starring: Nolan North, Danica McKellar 8.548834763306232
150 - Blackadder the Third (1987) - Starring: Rowan Atkinson, Tony Robinson 8.548688087864335
151 - Heartstopper (2022) - Starring: Joe Locke, Kit Connor 8.548460315670061
152 - Bleach: Thousand-Year Blood War (2022) - Starring: Masakazu Morita, Johnny Yong Bosch 8.543123970861577
153 - Haikyu!! (2014) - Starring: Ayumu Murase, Kaito Ishikawa 8.540782225310018
154 - QI (2003) - Starring: Alan Davies, Stephen Fry 8.539649420784812
155 - Dopesick (2021) - Starring: Michael Keaton, Peter Sarsgaard 8.539047245676306
156 - Mr Bean (1990) - Starring: Rowan Atkinson, Matilda Ziegler 8.538400126362038
157 - Anne with an E (2017) - Starring: Amybeth McNulty, Geraldine James 8.53828382721675
158 - The Offer (2022) - Starring: Miles Teller, Matthew Goode 8.537557317758122
159 - Poirot (1989) - Starring: David Suchet, Hugh Fraser 8.53627872868341
160 - Yes Minister (1980) - Starring: Paul Eddington, Nigel Hawthorne 8.534873392453786
161 - Making a Murderer (2015) - Starring: Steven Avery, Dolores Avery 8.52828899678772
162 - Boardwalk Empire (2010) - Starring: Steve Buscemi, Kelly Macdonald 8.526859375524687
163 - Justified (2010) - Starring: Timothy Olyphant, Nick Searcy 8.52611487945516
164 - Pose (2018) - Starring: Michaela Jaé (MJ) Rodriguez, Dominique Jackson 8.52607596618971
165 - The Newsroom (2012) - Starring: Jeff Daniels, Emily Mortimer 8.52456565272566
166 - The Bugs Bunny Show (1960) - Starring: Mel Blanc, June Foray 8.522267984283387
167 - The Haunting of Hill House (2018) - Starring: Michiel Huisman, Carla Gugino 8.521330829814755
168 - Crash Landing on You (2019) - Starring: Hyun Bin, Son Ye-jin 8.519380322950159
169 - The Eric Andre Show (2012) - Starring: Eric André, Hannibal Buress 8.518656205137507
170 - The Queen's Gambit (2020) - Starring: Anya Taylor-Joy, Chloe Pirrie 8.515769565414631
171 - Justice League (2001) - Starring: Carl Lumbly, Phil LaMarr 8.51364265927
172 - Dragon Ball (1986) - Starring: Masako Nozawa, Jôji Yanami 8.512222465697564
173 - Flight of the Conchords (2007) - Starring: Jemaine Clement, Bret McKenzie 8.511947161937034
174 - Homicide: Life on the Street (1993) - Starring: Richard Belzer, Clark Johnson 8.511340440757513
175 - Dragon Ball (1995) - Starring: Brice Armstrong, Steve Olson 8.51009429247378
176 - Formula 1: Drive to Survive (2019) - Starring: Will Buxton, Jack Nicholls 8.509410491953558
177 - Impractical Jokers (2011) - Starring: James Murray, Brian Quinn 8.50920593982688
178 - Battlestar Galactica (2003) - Starring: Edward James Olmos, Mary McDonnell 8.508531026569633
179 - El Chavo del Ocho (1972) - Starring: Ramón Valdés, Carlos Villagrán 8.508060914842964
180 - The Venture Bros (2003) - Starring: Christopher McCulloch, James Urbaniak 8.508020548164783
181 - Coupling (2000) - Starring: Jack Davenport, Gina Bellman 8.507329013919849
182 - The Bureau (2015) - Starring: Mathieu Kassovitz, Florence Loiret Caille 8.506050096636114
183 - Spaced (1999) - Starring: Simon Pegg, Jessica Hynes 8.505308692802354
184 - Long Way Round (2004) - Starring: Ewan McGregor, Charley Boorman 8.50193253991397
185 - The Rehearsal (2022) - Starring: Nathan Fielder, Journey Baker 8.501438308749801
186 - What We Do in the Shadows (2019) - Starring: Kayvan Novak, Matt Berry 8.500630368247641
187 - Black Sun (2017) - Starring: Andrija Kuzmanovic, Marija Bergam 8.499625609781456
188 - Yes, Prime Minister (1986) - Starring: Paul Eddington, Nigel Hawthorne 8.498398736760354
189 - Samurai Champloo (2004) - Starring: Kazuya Nakai, Ginpei Sato 8.497082352314054
190 - The IT Crowd (2006) - Starring: Chris O'Dowd, Richard Ayoade 8.49470193019508
191 - Mr Robot (2015) - Starring: Rami Malek, Christian Slater 8.49270429952482
192 - Louie (2010) - Starring: Louis C.K., Hadley Delany 8.491678642392214
193 - I'm Alan Partridge (1997) - Starring: Steve Coogan, Simon Greenall 8.491500126975248
194 - The Family Man (2019) - Starring: Manoj Bajpayee, Samantha Ruth Prabhu 8.490352245918736
195 - The Office (2001) - Starring: Ricky Gervais, Martin Freeman 8.48778835643733
196 - Whose Line Is It Anyway? (1998) - Starring: Drew Carey, Colin Mochrie 8.484761276481228
197 - Through the Wormhole (2010) - Starring: Morgan Freeman, Sean Carroll 8.484269202352243
198 - Letterkenny (2016) - Starring: Jared Keeso, Nathan Dales 8.480949472901743
199 - Samurai Jack (2001) - Starring: Phil LaMarr, Mako 8.479291824766335
200 - Shameless (2011) - Starring: Emmy Rossum, William H. Macy 8.478943346412064
201 - Spartacus (2010) - Starring: Andy Whitfield, Lucy Lawless 8.476916166095524
202 - Detectorists (2014) - Starring: Mackenzie Crook, Toby Jones 8.475549504853769
203 - Ezel (2009) - Starring: Kenan Imirzalioglu, Cansu Dere 8.474714097749395
204 - Mob Psycho 100 (2016) - Starring: Setsuo Ito, Takahiro Sakurai 8.473758718722507
205 - Sons of Anarchy (2008) - Starring: Charlie Hunnam, Katey Sagal 8.471900959162586
206 - Westworld (2016) - Starring: Evan Rachel Wood, Jeffrey Wright 8.471573626879824
207 - Endeavour (2012) - Starring: Shaun Evans, Anton Lesser 8.470676016491641
208 - Brass Eye (1997) - Starring: Christopher Morris, Mark Heap 8.470268621704607
209 - Neon Genesis Evangelion (1995) - Starring: Megumi Ogata, Megumi Hayashibara 8.469446802455636
210 - Extraordinary Attorney Woo (2022) - Starring: Park Eun-bin, Kang Tae-oh 8.467809122963276
211 - Skam (2015) - Starring: Josefine Frida Pettersen, Iman Meskini 8.467168445368559
212 - North & South (2004) - Starring: Daniela Denby-Ashe, Richard Armitage 8.466994530475096
213 - Trailer Park Boys (2001) - Starring: John Paul Tremblay, Robb Wells 8.466801409997249
214 - Doctor Who (2005) - Starring: Jodie Whittaker, Peter Capaldi 8.466171225425752
215 - Fullmetal Alchemist (2003) - Starring: Vic Mignogna, Aaron Dismuke 8.46504583721308
216 - Twin Peaks (2017) - Starring: Kyle MacLachlan, Sheryl Lee 8.464696564679578
217 - Silicon Valley (2014) - Starring: Thomas Middleditch, T.J. Miller 8.463691381252122
218 - Spartacus: Gods of the Arena (2011) - Starring: John Hannah, Manu Bennett 8.463076420816895
219 - From the Earth to the Moon (1998) - Starring: Tom Hanks, Nick Searcy 8.461542680055114
220 - Futurama (1999) - Starring: Billy West, John DiMaggio 8.459688008568335
221 - Rurouni Kenshin: Trust and Betrayal (1999) - Starring: Mayo Suzukaze, Junko Iwao 8.458965071139321
222 - Mr Inbetween (2018) - Starring: Scott Ryan, Chika Yasumura 8.456470891960358
223 - Happy Valley (2014) - Starring: Sarah Lancashire, Siobhan Finneran 8.449691184669318
224 - Schitt's Creek (2015) - Starring: Eugene Levy, Catherine O'Hara 8.44954661910371
225 - Hannibal (2013) - Starring: Hugh Dancy, Mads Mikkelsen 8.449031905930987
226 - Umbre (2014) - Starring: Serban Pavlu, Maria Obretin 8.448952991351847
227 - The Expanse (2015) - Starring: Steven Strait, Dominique Tipper 8.44505264991761
228 - Community (2009) - Starring: Joel McHale, Danny Pudi 8.443428774325984
229 - Jujutsu Kaisen (2020) - Starring: Junya Enoki, Adam McArthur 8.442354325623599

In [ ]:

url = 'http://www.imdb.com/chart/top'
#url = 'https://www.imdb.com/chart/toptv?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&pf_rd_r=H97E3KDAPESFSG3M1N8P&pf_rd_s=right-4&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_ql_6'
#url = 'https://www.imdb.com/search/title/?groups=top_250'
headers = {'Accept-Language': 'en-US,en;q=0.8'}
#response = requests.get(url,headers = hearders)
response = get(url,headers = headers)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
 
 
 
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            "star_cast": crew[index],
            }
    list.append(data)
 
# printing movie details with its rating.
for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
        ') -', 'Starring:', movie['star_cast'], movie['rating'])
 
 
##.......##
df = pd.DataFrame(list)
df.to_csv('imdb_top_250_movies.csv',index=False)
#df.to_csv('imdb_top_250_TVShows.csv',index=False)

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman 9.235680191697096
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino 9.155951663875934
3 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger 8.991261163569767
4 - The Godfather Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro 8.983868908887796
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb 8.952796779372571
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes 8.939751183116414
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen 8.931891816020805
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman 8.846696316923408
9 - The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.810687359042298
1 -  The Good, the Bad and the Ugly (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach 8.789339997232814
11 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright 8.766826408005242
12 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton 8.747987073257367
13 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.736272072156677
14 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt 8.732731158299615
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford 8.698607376524217
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne 8.669200206607064
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta 8.652966823689829
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher 8.638235608610456
19 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt 8.604551670898125
20 - Seven Samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura 8.597896648866259
21 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed 8.597548421637386
22 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins 8.588331378906767
23 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon 8.579549364441363
24 - City of God (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino 8.579454594684291
25 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway 8.570894499751272
26 - Life Is Beautiful (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi 8.568573998934008
27 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan 8.56327962995186
28 - Star Wars: Episode IV - A New Hope (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford 8.548169876152638
29 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton 8.537933715435118
30 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd 8.51778188324969
31 - Spirited Away (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette 8.515977488594508
32 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann 8.507503957701855
33 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh 8.50648843373652
34 - Parasite (2019) - Starring: Bong Joon Ho (dir.), Song Kang-ho, Lee Sun-kyun 8.499821352684995
35 - Léon: The Professional (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman 8.49334824162203
36 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons 8.487935102861464
37 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix 8.486997581737688
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong 8.481776617913722
39 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon 8.476183629067178
40 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne 8.469587895785867
41 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman 8.469208638369665
42 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons 8.468403264142582
43 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman 8.461621366488897
44 - Harakiri (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama 8.456059003468635
45 - Grave of the Fireflies (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi 8.455966824903044
46 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy 8.453616685229862
47 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.4469956929651
48 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson 8.440956083376388
49 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly 8.435494841138688
50 - Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale 8.435293940790658
51 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt 8.433395545033424
52 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill 8.432402940391833
53 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando 8.423018243697726
54 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss 8.419659480323418
55 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz 8.408799430537282
56 - Indiana Jones and the Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen 8.406343984044133
57 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight 8.395189722282876
58 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck 8.383951286347658
59 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson 8.379079621246303
60 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker 8.371659342471954
61 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall 8.364987355794492
62 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.363976329813788
63 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth 8.361683932428072
64 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich 8.35930416455454
65 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn 8.343041778465368
66 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson 8.337892609191243
67 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening 8.330584764660122
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott 8.32762853087381
69 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy 8.326199395261918
70 - Oldboy (2003) - Starring: Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-tae 8.32021206989075
71 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger 8.318082698976136
72 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce 8.31639406899245
73 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal 8.315238143413646
74 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen 8.313935010994747
75 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro 8.313027145914583
76 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau 8.312673365462608
77 - The Boat (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer 8.311979654723247
78 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans 8.303911684059875
79 - Princess Mononoke (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida 8.303233126139299
80 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods 8.294866917609124
81 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon 8.292594783873605
82 - Your Name (2016) - Starring: Makoto Shinkai (dir.), Ryunosuke Kamiki, Mone Kamishiraishi 8.282673910747292
83 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor 8.275212475294017
84 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.275139160015115
85 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto 8.273877454444511
86 - High and Low (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada 8.272040008814825
87 - Toy Story 3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen 8.271103029704085
88 - Capernaum (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw 8.266972577062544
89 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford 8.264201924632347
90 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet 8.261813300289793
91 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood 8.261804876696837
92 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth 8.259161357215847
93 - Come and See (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova 8.25849287805589
94 - The Hunt (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen 8.257205702415773
95 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten 8.250455771953725
96 - M (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann 8.250185460525115
97 - Lawrence of Arabia (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness 8.249847340137698
98 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint 8.245917653837624
99 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko 8.24300801763011
10 -  Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak 8.242768742757942
101 - The Apartment (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine 8.241916712059812
102 - Amélie (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz 8.241387541222071
103 - A Clockwork Orange (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee 8.238875434730986
104 - Double Indemnity (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck 8.237751953410404
105 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey 8.237084771969736
106 - Scarface (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer 8.234643224217262
107 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo 8.232920536713511
108 - Incendies (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin 8.226847959638798
109 - Top Gun: Maverick (2022) - Starring: Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly 8.2264407113892
110 - To Kill a Mockingbird (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna 8.225715149385001
111 - Heat (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro 8.225374497227316
112 - The Sting (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford 8.224759421376513
113 - Up (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai 8.224684044400137
114 - A Separation (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami 8.221425767673056
115 - Metropolis (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel 8.220712048345098
116 - Taxi Driver (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster 8.219835904152868
117 - LA Confidential (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe 8.218747898199151
118 - Die Hard (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman 8.21773392163377
119 - Snatch (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt 8.2171605216134
120 - Indiana Jones and the Last Crusade (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery 8.21674962345212
121 - Bicycle Thieves (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola 8.215923206118326
122 - Like Stars on Earth (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.212815903755597
123 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay 8.211098005721343
124 - Downfall (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara 8.203345972867982
125 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar 8.20003440540641
126 - For a Few Dollars More (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef 8.199061964887793
127 - Batman Begins (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine 8.197490944009829
128 - The Kid (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance 8.191317136775451
129 - Some Like It Hot (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis 8.190691945403564
130 - The Father (2020) - Starring: Florian Zeller (dir.), Anthony Hopkins, Olivia Colman 8.181534268569225
131 - All About Eve (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter 8.180117523455229
132 - The Wolf of Wall Street (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill 8.177590926373808
133 - Green Book (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali 8.177511879235844
134 - Judgment at Nuremberg (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster 8.171534219646738
135 - Ran (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao 8.164112073602146
136 - Casino (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone 8.163913444088374
137 - The Truman Show (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris 8.160707953863085
138 - Pan's Labyrinth (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil 8.16066354151622
139 - There Will Be Blood (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano 8.160149892345892
140 - Unforgiven (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman 8.158855019014757
141 - The Sixth Sense (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment 8.154559270056717
142 - Shutter Island (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer 8.152685251936264
143 - A Beautiful Mind (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris 8.15106008221263
144 - Jurassic Park (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern 8.14897672086274
145 - Yojimbo (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno 8.14801551575482
146 - The Treasure of the Sierra Madre (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston 8.14730641838382
147 - Monty Python and the Holy Grail (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese 8.145939596894367
148 - The Great Escape (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner 8.140116261433432
149 - No Country for Old Men (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem 8.139852393023906
150 - Kill Bill: Vol 1 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine 8.138916167335426
151 - Rashomon (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô 8.138228382181568
152 - Spider-Man: No Way Home (2021) - Starring: Jon Watts (dir.), Tom Holland, Zendaya 8.137021664078308
153 - The Thing (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley 8.13334047183278
154 - Finding Nemo (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres 8.131392869787339
155 - The Elephant Man (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt 8.12716964645713
156 - Chinatown (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway 8.125686689901686
157 - Raging Bull (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty 8.123318588470708
158 - V for Vendetta (2005) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman 8.122720994541632
159 - Gone with the Wind (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh 8.122188199367658
160 - Lock, Stock and Two Smoking Barrels (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher 8.120438672528026
161 - Inside Out (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader 8.120163324468477
162 - Dial M for Murder (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly 8.119565859878916
163 - The Secret in Their Eyes (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil 8.11798050246063
164 - Howl's Moving Castle (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baisho, Takuya Kimura 8.117464706912141
165 - Three Billboards Outside Ebbing, Missouri (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson 8.111436579167725
166 - The Bridge on the River Kwai (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness 8.110830043457517
167 - Trainspotting (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner 8.110511262682552
168 - Prisoners (2013) - Starring: Denis Villeneuve (dir.), Hugh Jackman, Jake Gyllenhaal 8.105835614555392
169 - Warrior (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte 8.102759618780874
170 - Fargo (1996) - Starring: Joel Coen (dir.), William H. Macy, Frances McDormand 8.102528249647373
171 - Gran Torino (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang 8.100563397333753
172 - My Neighbor Totoro (1988) - Starring: Hayao Miyazaki (dir.), Hitoshi Takagi, Noriko Hidaka 8.092580149008175
173 - Catch Me If You Can (2002) - Starring: Steven Spielberg (dir.), Leonardo DiCaprio, Tom Hanks 8.09125846423391
174 - Million Dollar Baby (2004) - Starring: Clint Eastwood (dir.), Hilary Swank, Clint Eastwood 8.088773821649326
175 - Children of Heaven (1997) - Starring: Majid Majidi (dir.), Mohammad Amir Naji, Amir Farrokh Hashemian 8.086539375194848
176 - Blade Runner (1982) - Starring: Ridley Scott (dir.), Harrison Ford, Rutger Hauer 8.084860328193702
177 - The Gold Rush (1925) - Starring: Charles Chaplin (dir.), Charles Chaplin, Mack Swain 8.08426218792229
178 - Before Sunrise (1995) - Starring: Richard Linklater (dir.), Ethan Hawke, Julie Delpy 8.081197223682283
179 - Klaus (2019) - Starring: Sergio Pablos (dir.), Jason Schwartzman, J.K. Simmons 8.08116561945462

In [ ]:
HEADERS ={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
#url = "https://www.imdb.com/search/title/?genres=Adventure&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16"
#url = "https://www.imdb.com/search/title/?groups=top_250"
def get_movies(url, interval, file_name):
# Sending a request to the speciifed URL
  resp = requests.get(url, headers=headers)

  # Converting the response to Beautiful Soup Object
  content = BeautifulSoup(resp.content, 'lxml')
  
  movie_list = []
  # Iterating throught the list of movies 
  for movie in content.select('.lister-item-content'):
          
      try:
          #movietitle = movie.select('.lister-item-header')[0],
          #p = re.compile(r'[（](.*?)[）]', re.S)
          #new_title = re.sub(p,'',str(movietitle))
          #titles = bytes(new_title, encoding = "utf8")  
          # Creating a python dictonary
          data = {
              
              "title":movie.select('.lister-item-header')[0].get_text().strip(),
              "year":movie.select('.lister-item-year')[0].get_text().strip(),
              "certificate":movie.select('.certificate')[0].get_text().strip(),
              "time":movie.select('.runtime')[0].get_text().strip(),
              "genre":movie.select('.genre')[0].get_text().strip(),
              "rating":movie.select('.ratings-imdb-rating')[0].get_text().strip(),
              "metascore":movie.select('.ratings-metascore')[0].get_text().strip(),
              "simple_desc":movie.select('.text-muted')[2].get_text().strip(),
              "votes":movie.select('.sort-num_votes-visible')[0].get_text().strip()
              
                  
          }
      except IndexError:
          continue
      movie_list.append(data)
         
        
  dataframe = pd.DataFrame(movie_list)
  dataframe.to_csv(file_name)

In [ ]:
url = "https://www.imdb.com/search/title/?groups=top_1000"
resp = requests.get(url, headers=headers)
headers = {'Accept-Language': 'en-US,en;q=0.8'}

# Converting the response to Beautiful Soup Object
content = BeautifulSoup(resp.content, 'lxml')
  
movie_list = []
  # Iterating throught the list of movies 
for movie in content.select('.lister-item-content'):
  movie0 = movie.select('.lister-item-header')[0]

In [ ]:
#movie0.get_text().strip()
type(movie0)

bs4.element.Tag

In [ ]:
p = re.compile(r'[（](.*?)[）]', re.S)
new_title = re.sub(p,'',str(movietitle))
titles = bytes(new_title, encoding = "utf8") 
titles

b'(<h3 class="lister-item-header">\n<span class="lister-item-index unbold text-primary">50.</span>\n<a href="/title/tt0361748/">Inglourious Basterds</a>\n<span class="lister-item-year text-muted unbold">(2009)</span>\n</h3>,)'

In [ ]:
url = "https://www.imdb.com/search/title/?groups=top_1000"
get_movies(url, 0, 'Top1000_movies.csv')

In [ ]:
url = "https://www.imdb.com/search/title/?release_date=1900-01-01,2023-12-31&count=250&start=4001&ref_=adv_nxt"
get_movies(url, 0, '16.csv')

In [ ]:
url = "https://www.imdb.com/search/title/?release_date=1900-01-01,2023-12-31&count=250&start=3751&ref_=adv_nxt"
get_movies(url, 0, '15.csv')

In [ ]:
t14 = pd.read_csv('test.csv')
t15 = pd.read_csv('15.csv')
t16 = pd.read_csv('16.csv')
t17 = pd.read_csv('17.csv')
t18 = pd.read_csv('18.csv')
t19 = pd.read_csv('19.csv')
t20 = pd.read_csv('20.csv')
t21 = pd.read_csv('21.csv')
t22 = pd.read_csv('22.csv')
t23 = pd.read_csv('23.csv')
t24 = pd.read_csv('24.csv')
t25 = pd.read_csv('25.csv')
t26 = pd.read_csv('26.csv')
t27 = pd.read_csv('27.csv')
t28 = pd.read_csv('28.csv')
t29 = pd.read_csv('29.csv')
t30 = pd.read_csv('30.csv')
t31 = pd.read_csv('31.csv')
t32 = pd.read_csv('32.csv')
t33 = pd.read_csv('33.csv')
t34 = pd.read_csv('34.csv')
t35 = pd.read_csv('35.csv')
t36 = pd.read_csv('36.csv')
data = pd.concat([t14,t15,t16,t17,t18,t19,t20,t21,t22,t23,t24,t25,t26,t28,t29,t30,t31,t32,t33,t34,t35,t36],axis=0)
data
data.to_csv('top5000.csv')

In [ ]:
pip install imdbpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting imdbpy
  Downloading IMDbPY-2022.7.9-py3-none-any.whl (1.2 kB)
Collecting cinemagoer
  Downloading cinemagoer-2022.12.27-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.2/297.2 KB 6.5 MB/s eta 0:00:00
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from cinemagoer->imdbpy) (4.9.2)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.8/dist-packages (from cinemagoer->imdbpy) (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from SQLAlchemy->cinemagoer->imdbpy) (2.0.2)
Installing collected packages: cinemagoer, imdbpy
Successfully installed cinemagoer-2022.12.27 imdbpy-2022.7.9

In [ ]:
import imdb
ia = imdb.IMDb()

In [ ]:
TV250 = pd.read_csv('imdb_top_250_TVShows.csv')
tv250=TV250['movie_title']
tv250_countries = []
for i in range (len(tv250)):
  movie = ia.search_movie(tv250[i])[0]
  ia.update(movie,'main')
  country = movie.get('countries')[0]
  tv250_countries.append(country)
tv250_countries

['United Kingdom',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Australia',
 'United States',
 'India',
 'United States',
 'Japan',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'Turkey',
 'Poland',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'France',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'West Germany',
 'United States',
 'United States',
 'Turkey',
 'Turkey',
 'United Kingdom',
 'France',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'Japan',
 'United States',
 'Japan',
 'Japan',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'India',
 'United States',
 'Germany',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'India',
 'United Kingdom',
 'India',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United Kingdom',
 'India',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'Japan',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'India',
 'United Kingdom',
 'United States',
 'India',
 'Turkey',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Japan',
 'Japan',
 'United States',
 'United Kingdom',
 'Sweden',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'United States',
 'Japan',
 'United States',
 'India',
 'United States',
 'United Kingdom',
 'Italy',
 'United States',
 'United States',
 'India',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'Japan',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'Canada',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'South Korea',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'Japan',
 'United Kingdom',
 'United States',
 'United States',
 'Mexico',
 'United States',
 'United Kingdom',
 'France',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'Serbia',
 'United Kingdom',
 'Japan',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'India',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Turkey',
 'Japan',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'South Korea',
 'Norway',
 'United States',
 'Canada',
 'United Kingdom',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Japan',
 'Australia',
 'United Kingdom',
 'Canada',
 'United States',
 'Romania',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United States',
 'Italy',
 'United States',
 'Australia',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'Turkey',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'United Kingdom',
 'Canada']

In [ ]:
TV250['countries'] = tv250_countries
TV250.to_csv('top_250_TVShows.csv')

In [ ]:
mv250 = pd.read_csv('imdb_top_250_movies.csv')
mv250=mv250['movie_title']
mv250_countries = []
for i in range (len(mv250)):
  movie = ia.search_movie(mv250[i])[0]
  ia.update(movie,'main')
  country = movie.get('countries')[0]
  mv250_countries.append(country)
mv250_countries
mv250['countries'] = mv250_countries
mv250.to_csv('top_250_movies.csv')

In [ ]:
mv250 = pd.read_csv('imdb_top_250_movies.csv')
mv250['countries'] = mv250_countries
mv250
mv250.to_csv('top_250_movies.csv')

In [ ]:
Top1000 = pd.read_csv('Top1000_movies1.csv')
topname = Top1000['title']
topcountries = []
for i in range (len(topname)):
  if ia.search_movie(topname[i])==[]:
    cotest = 'Unknown'
  else:
    movie = ia.search_movie(topname[i])[0]
    ia.update(movie,'main')
    if movie.get('countries')==None:
      cotest = 'Unknown'
    else:
      cotest = movie.get('countries')[0]
  topcountries.append(cotest)
topcountries

['United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'New Zealand',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'South Korea',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'United States',
 'United States',
 'United States',
 'Hong Kong',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Netherlands',
 'United States',
 'United States',
 'United States',
 'New Zealand',
 'Japan',
 'United Kingdom',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'Unknown',
 'France',
 'United States',
 'Australia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Australia',
 'United States',
 'United States',
 'United Kingdom',
 'Italy',
 'Unknown',
 'New Zealand',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'Unknown',
 'United Kingdom',
 'United States',
 'Unknown',
 'United Kingdom',
 'France',
 'Unknown',
 'United States',
 'United States',
 'New Zealand',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'South Korea',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Norway',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'New Zealand',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'Brazil',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'Unknown',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'Italy',
 'United States',
 'France',
 'United States',
 'Unknown',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'Norway',
 'Unknown',
 'United States',
 'Italy',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'Italy',
 'United States',
 'United States',
 'Unknown',
 'France',
 'United States',
 'United States',
 'Japan',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'Hong Kong',
 'United Kingdom',
 'Unknown',
 'Unknown',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Unknown',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Unknown',
 'Unknown',
 'United States',
 'Unknown',
 'United States',
 'Unknown',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United Kingdom',
 'United States',
 'United States',
 'Mexico',
 'United States',
 'United States',
 'Sweden',
 'United States',
 'Italy',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'Japan',
 'France',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'Unknown',
 'France',
 'Unknown',
 'United States',
 'Taiwan',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'New Zealand',
 'United States',
 'United States',
 'Mexico',
 'South Korea',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Denmark',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Germany',
 'Unknown',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Hong Kong',
 'United States',
 'United States',
 'Germany',
 'Unknown',
 'United States',
 'Unknown',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'Unknown',
 'Germany',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Spain',
 'United States',
 'United States',
 'South Africa',
 'United States',
 'Unknown',
 'Unknown',
 'United States',
 'Switzerland',
 'United States',
 'Unknown',
 'United States',
 'Japan',
 'United States',
 'United States',
 'South Korea',
 'United States',
 'United States',
 'Unknown',
 'Unknown',
 'United States',
 'Ireland',
 'United Kingdom',
 'United States',
 'Lebanon',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'Spain',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'Italy',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'Japan',
 'New Zealand',
 'Unknown',
 'United States',
 'United States',
 'Australia',
 'Germany',
 'Germany',
 'Unknown',
 'United Kingdom',
 'Unknown',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'Spain',
 'United States',
 'United States',
 'Argentina',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Unknown',
 'United States',
 'Belgium',
 'Japan',
 'United States',
 'United States',
 'United Kingdom',
 'Unknown',
 'United Kingdom',
 'France',
 'Unknown',
 'United States',
 'United States',
 'United Kingdom',
 'Australia',
 'Argentina',
 'United States',
 'Mexico',
 'Spain',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Sweden',
 'Hong Kong',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Italy',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Denmark',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'China',
 'United Kingdom',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Indonesia',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'New Zealand',
 'Japan',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Sweden',
 'United States',
 'United States',
 'Japan',
 'Sweden',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Iran',
 'New Zealand',
 'United States',
 'Japan',
 'Ireland',
 'Unknown',
 'United States',
 'Unknown',
 'Unknown',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Unknown',
 'Ireland',
 'United States',
 'Unknown',
 'France',
 'Japan',
 'Mexico',
 'United Kingdom',
 'Unknown',
 'Unknown',
 'Unknown',
 'United Kingdom',
 'Unknown',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'France',
 'West Germany',
 'Unknown',
 'Unknown',
 'Unknown',
 'Italy',
 'United States',
 'United States',
 'United States',
 'United States',
 'West Germany',
 'Hong Kong',
 'Italy',
 'United States',
 'Unknown',
 'United States',
 'Japan',
 'United States',
 'United States',
 'Italy',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Unknown',
 'United States',
 'Indonesia',
 'United States',
 'Italy',
 'Hong Kong',
 'Unknown',
 'United States',
 'Italy',
 'United States',
 'Unknown',
 'United Kingdom',
 'United Kingdom',
 'Unknown',
 'Japan',
 'Unknown',
 'France',
 'Unknown',
 'New Zealand',
 'United Kingdom',
 'Italy',
 'United Kingdom',
 'Unknown',
 'United States',
 'United States',
 'Unknown',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'United States',
 'India',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'France',
 'Unknown',
 'Denmark',
 'United States',
 'Slovakia',
 'United States',
 'United States',
 'Denmark',
 'United States',
 'United States',
 'Japan',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'Japan',
 'Sweden',
 'United States',
 'United States',
 'Japan',
 'Denmark',
 'Ireland',
 'Unknown',
 'United States',
 'Unknown',
 'United States',
 'Sweden',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'Ireland',
 'United States',
 'United States',
 'United States',
 'Poland',
 'United States',
 'Germany',
 'Hong Kong',
 'France',
 'United States',
 'United States',
 'France',
 'Italy',
 'United States',
 'Hong Kong',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Unknown',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'Netherlands',
 'Italy',
 'United States',
 'South Korea',
 'France',
 'Japan',
 'Spain',
 'United States',
 'United States',
 'United States',
 'United States',
 'Japan',
 'United States',
 'Iran',
 'United States',
 'United States',
 'United States',
 'United States',
 'Germany',
 'Unknown',
 'Brazil',
 'France',
 'Sweden',
 'United States',
 'United Kingdom',
 'India',
 'Japan',
 'Ireland',
 'United States',
 'United Kingdom',
 'Italy',
 'United States',
 'France',
 'United States',
 'United States',
 'United Kingdom',
 'France',
 'France',
 'United States',
 'United States',
 'United States',
 'Spain',
 'Unknown',
 'United States',
 'United Kingdom',
 'United States',
 'Italy',
 'United States',
 'Unknown',
 'Japan',
 'Unknown',
 'China',
 'Japan',
 'United States',
 'Germany',
 'South Korea',
 'India',
 'United States',
 'United States',
 'United States',
 'France',
 'Unknown',
 'United States',
 'Taiwan',
 'France',
 'United Kingdom',
 'United States',
 'Denmark',
 'France',
 'France',
 'United Kingdom',
 'United States',
 'Spain',
 'United Kingdom',
 'United States',
 'Belgium',
 'Unknown',
 'United States',
 'United States',
 'Iran',
 'United States',
 'India',
 'India',
 'France',
 'Japan',
 'Italy',
 'United Kingdom',
 'Japan',
 'France',
 'Unknown',
 'Soviet Union',
 'Unknown',
 'United Kingdom',
 'France',
 'Iran',
 'Japan',
 'United Kingdom',
 'Japan',
 'Japan',
 'United States',
 'France',
 'France',
 'India',
 'Turkey',
 'France',
 'Germany',
 'Romania',
 'United States',
 'India',
 'Japan',
 'South Korea',
 'United Kingdom',
 'United States',
 'United States',
 'Ireland',
 'South Korea',
 'United States',
 'Hong Kong',
 'France',
 'Denmark',
 'France',
 'Japan',
 'Argentina',
 'Japan',
 'United States',
 'Denmark',
 'United States',
 'France',
 'Ireland',
 'Japan',
 'Czechia',
 'United States',
 'Brazil',
 'Turkey',
 'Brazil',
 'Unknown',
 'Japan',
 'United States',
 'United Kingdom',
 'United States',
 'Iran',
 'United States',
 'United States',
 'France',
 'South Korea',
 'France',
 'Switzerland',
 'Sweden',
 'Unknown',
 'Brazil',
 'Estonia',
 'Unknown',
 'United States',
 'Germany',
 'Italy',
 'United States']

In [ ]:
Top1000['countries'] = topcountries
Top1000
Top1000.to_csv('top_1000_movies.csv')

In [ ]:

topname = 'Avengers: Endgame'
if ia.search_movie(topname)==[]:
  cotest = 'Unknown'
else:
  movie = ia.search_movie(topname)[0]
  ia.update(movie,'main')
  if movie.get('countries')==None:
    cotest = 'Unknown'
  else:
    cotest = movie.get('countries')[0]
cotest

'United States'

In [ ]:
data=pd.read_csv('top5000.csv')
top5000 = data.reset_index(drop=True)
top5000

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes
0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),(2023),PG-13,124 min,"Action, Adventure, Comedy",6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838"
1,1,1,1.0,3.\nCocaine Bear\n(2023),(2023),R,95 min,"Comedy, Thriller",6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536"
2,2,2,2.0,9.\nThe Whale\n(2022),(2022),R,117 min,Drama,7.8,60 \n Metascore,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077"
3,3,3,3.0,10.\nBabylon\n(I) (2022),(I) (2022),R,189 min,"Comedy, Drama, History",7.3,60 \n Metascore,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750"
4,4,4,4.0,11.\nKnock at the Cabin\n(2023),(2023),R,100 min,"Horror, Mystery, Thriller",6.2,63 \n Metascore,"While vacationing, a girl and her parents are ...","Votes:\n39,406"
...,...,...,...,...,...,...,...,...,...,...,...,...
4987,122,122,NaN,"9,242.\nGigi\n(1958)",(1958),G,115 min,"Comedy, Musical, Romance",6.6,82 \n Metascore,"Weary of the conventions of Parisian society, ...","Votes:\n23,409"
4988,123,123,NaN,"9,244.\nCharlie Says\n(2018)",(2018),R,110 min,"Biography, Crime, Drama",5.9,57 \n Metascore,The tragic tale of an all-American girl who wa...,"Votes:\n4,977\n| Gross:\n$0.04M"
4989,124,124,NaN,"9,246.\nSon in Law\n(1993)",(1993),PG-13,95 min,"Comedy, Drama, Romance",5.8,33 \n Metascore,"Having gotten a taste of college life, a drast...","Votes:\n21,147\n| Gross:\n$36.45M"
4990,125,125,NaN,"9,247.\nThe Secret of My Success\n(1987)",(1987),PG-13,111 min,"Comedy, Romance",6.5,36 \n Metascore,A talented young man can't get an executive po...,"Votes:\n34,798\n| Gross:\n$67.00M"
4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",(1985),PG-13,108 min,"Action, Adventure, Drama",6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M"

In [ ]:
topname = top5000['title']
topcountries = []
record = []
for i in range (4494,4993):
  if ia.search_movie(topname[i])==[]:
    cotest = 'Unknown'
  else:
    movie = ia.search_movie(topname[i])[0]
    ia.update(movie,'main')
    if movie.get('countries')==None:
      cotest = 'Unknown'
    else:
      cotest = movie.get('countries')[0]
  topcountries.append(cotest)
  record.append(topname[i])
topcountries

KeyError: ignored

In [ ]:
len(topcountries)

498

In [ ]:
len(topname)

4992

In [ ]:
import numpy as np
f=np.array(topcountries)
np.save('f.npy',f)

In [ ]:
record[-1]

'8,273.\nAssault on Precinct 13\n(1976)'

In [ ]:
topname[4493]

'8,273.\nAssault on Precinct 13\n(1976)'

In [ ]:
top5000 = data.reset_index(drop=True)
top5000
topname = top5000['title']
topname[0]

'2.\nAnt-Man and the Wasp: Quantumania\n(2023)'

In [ ]:
top5000

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes
0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),(2023),PG-13,124 min,"Action, Adventure, Comedy",6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838"
1,1,1,1.0,3.\nCocaine Bear\n(2023),(2023),R,95 min,"Comedy, Thriller",6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536"
2,2,2,2.0,9.\nThe Whale\n(2022),(2022),R,117 min,Drama,7.8,60 \n Metascore,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077"
3,3,3,3.0,10.\nBabylon\n(I) (2022),(I) (2022),R,189 min,"Comedy, Drama, History",7.3,60 \n Metascore,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750"
4,4,4,4.0,11.\nKnock at the Cabin\n(2023),(2023),R,100 min,"Horror, Mystery, Thriller",6.2,63 \n Metascore,"While vacationing, a girl and her parents are ...","Votes:\n39,406"
...,...,...,...,...,...,...,...,...,...,...,...,...
4987,122,122,NaN,"9,242.\nGigi\n(1958)",(1958),G,115 min,"Comedy, Musical, Romance",6.6,82 \n Metascore,"Weary of the conventions of Parisian society, ...","Votes:\n23,409"
4988,123,123,NaN,"9,244.\nCharlie Says\n(2018)",(2018),R,110 min,"Biography, Crime, Drama",5.9,57 \n Metascore,The tragic tale of an all-American girl who wa...,"Votes:\n4,977\n| Gross:\n$0.04M"
4989,124,124,NaN,"9,246.\nSon in Law\n(1993)",(1993),PG-13,95 min,"Comedy, Drama, Romance",5.8,33 \n Metascore,"Having gotten a taste of college life, a drast...","Votes:\n21,147\n| Gross:\n$36.45M"
4990,125,125,NaN,"9,247.\nThe Secret of My Success\n(1987)",(1987),PG-13,111 min,"Comedy, Romance",6.5,36 \n Metascore,A talented young man can't get an executive po...,"Votes:\n34,798\n| Gross:\n$67.00M"
4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",(1985),PG-13,108 min,"Action, Adventure, Drama",6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M"

In [ ]:
a=np.load('a.npy')
a=a.tolist()
b=np.load('b.npy')
b=b.tolist()
c=np.load('c.npy')
c=c.tolist()
d=np.load('d.npy')
d=d.tolist()
e=np.load('e.npy')
e=e.tolist()
f=np.load('f.npy')
f=f.tolist()
countries5000 = a+b+c+d+e+f
top5000['countries'] = countries5000
top5000
top5000.to_csv('top_5000_movies.csv')